{% extends 'account/register/register_base.html'%}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block extrastyle %}
<style>
    header{
        position: fixed;
    }
    .empty{
        padding-top: 12vh;
    }
    .continue{
        width: 150px;
        height: 50px;
        background: rgb(62, 129, 253);
        color: #fff;
        border: none;
    }
    a{
        text-decoration: none;
        color: rgb(0, 255, 213);
    }
    a:hover{
        text-decoration: none;
        color: #fff;
    }
    .enrolled-courses{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 50px;
        grid-gap: 50px;
    }
    .course-btn{
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .course-btn > button{
        width: 150px;
        height: 50px;
        background: rgb(62, 129, 253);
        color: #fff;
        border: none;

    }
    .course {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 40vh;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.5);
    }
    .anonuser{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    li{
        list-style: none;
    }
    .container{
        padding-left: 200px;
    }
    .navigation{
        position: fixed;
        top: 10vh;
        left: 0;
         height: 100vh;
         z-index: 1;
         background: #000;
    }
    
    .navigation-links{
        width: 130px;
        background: #000;
    }
   
    .user-link{
        color: #fff;
        line-height: 100px;
    }

    .enrolled,.all,.paid,.profile{
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s linear;
    }
    .enrolled.active,
    .paid.active,
    .all.active,
    .profile.active{
        opacity: 1;
        pointer-events: all;
        flex-direction: column;
    }

    
    .active > .btn{
        background: rgb(49, 133, 0);
        box-shadow: 1px 0px 10px 1px rgba(94, 255, 0, 0.637);
    }

    .header{
        background: #fff;
    }
     .btn{
        border: none;
        color: #fff;
        transition: 0.3s linear;
      }
     .alert{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
     }
    @media screen and (max-width: 800px) {
        .container{
        padding-left: 20px;
    }
     .empty{
        height: 18vh;
    }
   
        .enrolled-courses{
        grid-template-columns: repeat(1, 1fr);
        }
        .course-btn{
        flex-flow: column;
     }
    .course-btn > button{
        font-size: 20px;

    }
     .navigation-links{
             position: fixed;
             display: flex;
             justify-content: space-around;
             align-items: center;
             width: 100%;
             
         }
         .btn{
             width: 100px;
             height: 50px;
             font-size: 10px;
         }
    }
</style>
{% endblock extrastyle %}
{% block navbar %}
{% if user.is_authenticated %}
{% include './nav.html' %}


<div class="empty">
    
</div>
<div class="navigation">
    
    <ul class="navigation-links">
        
        <a href="#enrolled" class="user-link enrolled-link active">
            <button class="btn btn-lg btn-primary"><li>Enrolled Courses</li></button>
        </a>
        <a href="#available" class="user-link all-link">
            <button class="btn btn-lg btn-primary"><li>All Courses</li></button>
        </a>
        <a href="#paid" class="user-link paid-link">
            <button class="btn btn-lg btn-primary"><li>Paid Courses</li></button>
        </a>
        <a href="#profile" class="user-link profile-link">
            <button class="btn btn-lg btn-primary"><li>User Profile</li></button>
        </a>
    </ul>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    <strong>Not Authourized</strong> 
</div>
<h1 class="anonuser">Sorry You Must Login First, click <a href="/accounts/login">here</a></h1>
{% endif %}

{% endblock navbar %}


{% block content %}
{% if user.is_authenticated %}
<div class="container">
     
    <div class="page-header">
        <div class="empty"></div>
        <div class="alert alert-success" role="alert">
            <p>Welcome Back {{request.user}}</p>
        </div>
        <hr width="100%">
    </div>
    <div class="row">
            
        <section class="enrolled active">
            <h1>Your Present Courses</h1>
            <div class="enrolled-courses">
            {% for enrolled_course in user.ucourse.all %}
                <div class="course">
                    <h3>{{ enrolled_course.course }}</h3>
                    <div class="course-btn">
                        
                        <a href="/course/{{ enrolled_course.slug }}/"><button class="continue">Continue</button></a>
                        <button>View Progress</button>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
        <section class="all">
            <h1>Available Courses</h1>
            {% for course in courses %}
            <form method="POST">
                <div class="card-deck" id="card">
                    <!--tips: replace .card-group by .card-deck to obtain cards that aren’t attached to one another-->
                    <!--Card1-->
                    
                    <div class="card">
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ course.status }}</h6>
                            <p class="card-text">{{ course.description }}</p>
                           <button type="submit"><a href="/add_to_enrolled/{{ course.slug }}" class="btn btn-primary">Enroll Now</a></button>
                        </div>
                    </div>
                </div>
                </form>
            {% endfor %}
        </section>
      <section class="paid">
          <h1>Paid Courses</h1>
      </section>
      <section class="profile">
          <h1>Profile</h1>
      </section>
    </div>
</div>
<script src="{% static 'js/app.js' %}"></script>

{% endif %}
{% endblock content %}
