* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  position: fixed;
  z-index: 1;
  background: rgb(62, 129, 253);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
  line-height: 10vh;
  color: #fff;

  .nav {
    display: flex;
    flex: 0.4;

    .nav-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      flex: 1;

      .nav-link {
        text-decoration: none;
        flex: 1;
        color: #fff;
      }
    }
  }
}
@import "body";
