{% extends "admin/base.html" %}

{% block title %}{{ title }} | TecXplorer Admin {% endblock %}
{% block extrastyle %}
    <style>
        #header {
            background: #000;
        }
        .module h2, .module caption, .inline-group h2 {
        background: #000;
        }
       div.breadcrumbs{
            background: #3e81fd;
        }
        .login {
            background: #000;
        }
       

    </style>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">TechXplorer Admin Dashboad</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}