{% extends 'base.html' %} {% load static %} {% block content %}
<footer class="footer">
  <div class="company-name">
    <h3>TecX Africa</h3>
  </div>
  <div class="details">
    <div class="text">
      <h1>Subscribe</h1>
      <p>Subscribe to get latest release</p>
    </div>
    <div class="subscribe">
      <input class="input" placeholder="Email" type="text" /><button class="sub-btn" type="submit">
        <i class="fa fa-send"></i>
      </button>
    </div>
    <div class="social-links">
      <a href="#"
        ><button class="social-link"><i class="fa fa-facebook"></i></button
      ></a>
      <a href="#"
        ><button class="social-link"><i class="fa fa-instagram"></i></button
      ></a>
      <a href="#"
        ><button class="social-link"><i class="fa fa-whatsapp"></i></button
      ></a>
      <a href="#"
        ><button class="social-link"><i class="fa fa-github"></i></button
      ></a>
      <a href="#"
        ><button class="social-link"><i class="fa fa-linkedin"></i></button
      ></a>
      <a href="#"
        ><button class="social-link"><i class="fa fa-phone"></i></button
      ></a>
    </div>
  </div>
  <div class="summary">
    <ul class="details-list">
    <a class="detail" href=""><li>Services</li></a>
    <a class="detail" href=""><li>About</li></a>
    <a class="detail" href=""><li>Contact Us</li></a>
    <a class="detail" href=""><li>Courses</li></a>
    <a class="detail" href=""><li>Our team</li></a>
  </ul>
</div>
<div class="copy-last">
    <h3>Copyright &copy;2020</h3>
    </div>
</footer>
{% endblock content %}
