{% extends 'base.html' %} {% load static %} {% block content %} {% include 'navbar.html' %}

{% block title %} Xplorer {% endblock title %}
<div class="intro-showoff">
  <div class="showoff-text">
    <h1>Tech <span class="showoff-xplorer">Xplorer</span></h1>
    <p>YOUR SURE WAY TO BE THAT BETTER DEVELOPER</p>
    {% if user.is_authenticated %}
    <div class="btn"><a href="/dashboard"><button class="intro-btn">Dashboard</button></a></div>
    {% else %}
    <div class="btn"><button class="intro-btn">Get Started</button></div>
    {% endif %}
  </div>
</div>

<section class="introduction">
  <div class="text">
    <h1>About Us</h1>
    <img src="{% static 'img/icons/ti.png' %}" alt="" />
    <p>
      The TechXplorer is a program launched by the <span>TechX</span> company a
      cooperation <br />
      which gives everyone the opportunity become a developer they always wanted
    </p>
  </div>
</section>

<section class="our-courses">
  <h1>Courses We Offer</h1>
  <div class="available-courses">
  {% for course in courses %}
    <div class="thecourse">
      <div class="img">
        <img src="{{ course.image.url }}" alt="" />
      </div>
      <div class="the-course-text">
        <h3>{{ course.name }}</h3>
        <p>
          {{ course.description }}
        </p>
      </div>
      <div class="btn">
        {% if user.is_authenticated %}
        <a href="/add_to_enrolled/{{ course.slug }}"><button id="btn-enroll">Enroll Now</button></a>
        {% else %}
        <a href="/accounts/login"><button id="btn-enroll">Enroll</button></a>
        {% endif %}
      </div>
    </div>
  {% endfor %}





  </div>
</section>
<section class="the-team">
  <div class="our-team">
    <h1>Our Team</h1>
    <ul class="categories">
      <li class="active" data-filter="*"></li>
      <a class="category" href="#"><li data-filter=".web">Web Developers</li></a>
      <a class="category" href="#"><li>Application Developers</li></a>
      <a class="category" href="#"><li>All</li></a>
      <a class="category" href="#"><li>Game Developers</li></a>
      <a class="category" href="#"><li>Graphic Designers</li></a>
    </ul>
  </div>
  <div class="team-portfolio">
    <div class="card">
      <div class="img">
        <img src="{% static '/img/team/team-1.png' %}" alt="" />
      </div>
      <div class="card-text web">
        <h1>Harrison Okafor</h1>
        <span class="nickname">HarrixCode</span>
        <p class="role">Web Developer/Web designer</p>
      </div>
      <div class="card-btns">
        <button><a href="#"><i class="fa fa-github"></i></a></button>
        <button><a href="#"><i class="fa fa-facebook"></i></a></button>
        <button><a href="#"><i class="fa fa-whatsapp"></i></a></button>
        <button><a href="#"><i class="fa fa-linkedin"></i></a></button>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img src="{% static '/img/team/team-1.png' %}" alt="" />
      </div>
      <div class="card-text">
        <h1>Ese Curtis</h1>
        <span class="nickname">Esecodes</span>
        <p class="role">Web Developer/Graphics Designer</p>
      </div>
      <div class="card-btns">
        <button><a href="#"><i class="fa fa-github"></i></a></button>
        <button><a href="#"><i class="fa fa-facebook"></i></a></button>
        <button><a href="#"><i class="fa fa-whatsapp"></i></a></button>
        <button><a href="#"><i class="fa fa-linkedin"></i></a></button>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img src="{% static '/img/team/team-1.png' %}" alt="" />
      </div>
      <div class="card-text">
        <h1>Stanley</h1>
        <span class="nickname">Stanley</span>
        <p class="role">Web Developer/Android Developer</p>
      </div>
      <div class="card-btns">
        <button><a href="#"><i class="fa fa-github"></i></a></button>
        <button><a href="#"><i class="fa fa-facebook"></i></a></button>
        <button><a href="#"><i class="fa fa-whatsapp"></i></a></button>
        <button><a href="#"><i class="fa fa-linkedin"></i></a></button>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %} 
{% endblock content %}
