{% extends 'account/register/register_base.html' %} {% load static %} {% load embed_video_tags %} {% block title %} C Tutorial {% endblock title %} 
{% block extrastyle %}
<style></style>
{% endblock extrastyle %} {% block navbar %} {% include 'registration/nav.html' %} {% endblock navbar %} 
{% block content %}
{% for course in queryset %}
<div class="container-fluid">
  <div class="empty"></div>
  
  <div class="course-titles">
    <h1>C TUTORIALS</h1>
    {% for tut in c %}
    <a href="?{{ page_request_var }}={{ tut.course_number }}"><p>{{ tut.title }}</p></a>
    {% endfor %}
 
   
  </div>

  <div class="the-course" id="#{{ course.id }}">
  
    {% video course.video_url 'small' %}
    <h4>{{ course.title }}</h4>
    <div class="description">
      <p>{{ course.description }}</p>
    </div>
    {% if is_paginated %}
    <div class="btns">
    {% if page_obj.has_previous %} 
      <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}" class="btn btn-primary">Previous Lesson</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}" class="btn btn-success">Next Lesson</a>
    {% endif %}                  
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock content %}
